.footer {
  padding-top: 93px;
  background: $color-background;
  position: relative;

  &:before {
    content: '';
    height: 1px;
    width: 100%;
    background:#C4C4C4;
    position: absolute;
    bottom: 60px;
  }

  &__top {
    display: flex;
    padding-bottom: 70px;
  }

  &__logo-line {
    padding-bottom: 15px;
    margin-right: 37px;
  }

  &__logo {
    margin-bottom: 15px;
  }

  &__logo-text {
    max-width: 350px;
    color: $color-font-secondary;
  }

  &__bottom {
    text-align: center;
  }

  &__policy {
    padding: 15px 0 20px;
    color: $color-font-secondary;
    position: relative;
  }
}

.footer-navigation {
  display: flex;
  justify-content: space-between;
  column-gap: 100px;
  margin-right: 50px;

  &__title {
    @include font($size: 24px, $height: 40px, $weight: 600);
    padding-bottom: 17px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    color: $color-font-secondary;
  }
}

.footer-links {
  max-width: 172px;

  &__title {
    @include font($size: 24px, $height: 40px, $weight: 600);
    padding-bottom: 17px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    column-gap: 8px;
  }

  &__item {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #D5D5D5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__item:nth-child(2) {
    background: $color-primary;
  }

  &__icon {
    padding-top: 7px;
  }
}